* {
    margin: 100;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    background-color:#F3F1E5;
}

h1 {
    font-size: 14px;
    line-height: 1;
}
img {
    border-radius: 50px;
    padding: 20px;
    width: 450px;
    height: 670px;
}
p {
    font-size: 36px;
    font-weight: 600;
    line-height: 0.8;
}