* {margin: 0px;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;}

body {
    
}
div {margin: 30px;
    padding: 20px;
    width: 420px;
    background-color:#F3F1E5;}

h1 {font-size: 13px;
    line-height: 1;}

img {border-radius: 30px;
    width: 380px;
    height: 670px;
    object-fit: cover;}

p {font-size: 40px;
    font-weight: 550;
    line-height: 0.8;}